body {
    font-family: sans-serif;
    padding: 10px;
}

/* Header and Subheader */

.cart a {
    color: rgb(249, 228, 255);
}

.header {
    font-size: 25px;
    margin-bottom: 10px;
}

.subheader {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(193, 111, 215);
    font-size: 20px;
    border-radius: 5px;
}

/* Main Content */
.item-image {
    height: 150px;
    width: 140px;
}

/* Detail page image */
.item-image-detail {
    height: 150px;
    width: 140px;
    padding-top: 20px;
}

/* .product-detail {} */

/* Item grid */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.main-container::before,
.main-container::after {
    display: table;
    content: " ";
    clear: both;
}

.sidebar,
.product-list {
    width: 100%;
}

.item-container {
    text-align: center;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.selected {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(193, 111, 215);
    border: none;
    border-radius: 2px;
}

.sidebar-list {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar ul {
    padding-left: 0%;
}

/* links */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.selected a {
    color: white;
}

.sidebar-list a {
    color: rgb(193, 111, 215);
}

.header a {
    color: rgb(193, 111, 215);
    text-decoration: bold;
}

.item a {
    color: rgb(193, 111, 215);
}

/* cart page */
.cart {
    text-align: center;
}

table {
    width: 100%;
}

table,
tr,
td,
th {
    border-collapse: collapse;
    border: 2px solid;
    padding: 10px;
}

.item-image-cart {
    height: 125px;
    width: 115px;
}

/* Checkout Page */

input[type=text],
textarea,
.email {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit],
.continue-btn,
.checkout-btn {
    background-color: rgb(193, 111, 215);
    color: white;
    padding: 12px 20px;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: rgb(193, 111, 215);
    border: 2px solid;
    border-color: rgb(193, 111, 215);
    padding: 12px 20px;
}

.order-info {
    /* float: right; */
    width: 100%;
    margin-right: 1%;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(212, 211, 211);
    border: none;
    border-radius: 5px;
}

.order-info h3 {
    font-size: 25px;
    font-weight: normal;
}

.item-price {
    text-align: right;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.total-price {
    position: absolute;
    right: 0;
    text-decoration: bold;
    text-align: right;
    margin-right: 10%;
    font-weight: bold;
    font-size: 18px;
}

@media only screen and (min-width: 900px) {

    body {
        font-family: sans-serif;
    }

    /* Header and Subheader */

    .cart a {
        color: rgb(249, 228, 255);
    }

    .header {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .subheader {
        padding-left: 70%;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(214, 126, 238);
        font-size: 20px;
        border-radius: 5px;
    }

    /* Main Content */

    .sidebar {
        width: calc(100% / 6);
        float: left;
    }

    .product-list {
        width: calc(100% / 4);
        float: left;
    }

    .item-image {
        height: 250px;
        width: 230px;
    }

    .item {
        grid-area: item;
        padding-left: 20px;
        padding-right: 20px;
    }

    .item-container {
        display: grid;
        grid-template-areas: 'item item item item';
        text-align: center;
    }

    /* sidebar */
    .selected {
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 10px;
        background-color: rgb(193, 111, 215);
        border: none;
        border-radius: 2px;
    }

    .sidebar-list {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .sidebar ul {
        padding-left: 0%;
    }

    /* links */

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    .selected a {
        color: white;
    }

    .sidebar-list a {
        color: rgb(193, 111, 215);
    }

    .header a {
        color: rgb(193, 111, 215);
        text-decoration: bold;
    }

    .item a {
        color: rgb(193, 111, 215);
    }

    /* detail page */

    .product-detail-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 35% 50%;
        grid-template-areas: 'item-image product-detail';
    }

    .item-image-detail {
        height: 250px;
        width: 210px;
        grid-area: item-image;
        justify-self: end;
        margin-right: 20px;
    }

    .product-detail {
        grid-area: product-detail;
    }

    /* cart page */
    .cart {
        text-align: center;
    }

    table {
        width: 100%;
    }

    table,
    tr,
    td,
    th {
        border-collapse: collapse;
        border: 2px solid;
        padding: 10px;
    }

    .item-image-cart {
        height: 125px;
        width: 115px;
    }

    .text-right {
        margin-top: 20px;
        position: absolute;
        right: 0;
        margin-right: 18px;
    }

    /* Checkout Page */
    .order-info {
        float: right;
        width: 25%;
        margin-right: 1%;
        padding-top: 30px;
        padding-bottom: 60px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: rgb(212, 211, 211);
    }

    .order-info h3 {
        font-size: 25px;
        font-weight: normal;
    }

    .item-price {
        text-align: right;
        position: absolute;
        right: 0;
        margin-right: 5%;
    }

    .total-price {
        position: absolute;
        right: 0;
        text-decoration: bold;
        text-align: right;
        margin-right: 5%;
        font-weight: bold;
        font-size: 18px;
    }

    /* .order-info ul {} */

    /* .order-info li {
    } */

    .order-form {
        float: left;
        margin-left: 2%;
    }

    input[type=submit],
    .continue-btn,
    .checkout-btn {
        font-family: sans-serif;
        background-color: rgb(193, 111, 215);
        color: white;
        padding: 12px 20px;
        border: 2px solid;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: white;
        color: rgb(193, 111, 215);
        border: 2px solid;
        border-color: rgb(193, 111, 215);
        padding: 12px 20px;
    }

    input[type=text],
    textarea,
    .email {
        width: 125%;
        padding: 12px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
}